<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hasil Rekomendasi</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <nav class = "navbar navbar-dark bg-dark">
            <a href="#" class="navbar-brand">Hasil rekomendasi mata kuliah {{ title }}</a>
        </nav>

        <div class="container mt-5">
            {% for video in videos[0:5] %}
            <div class="card mt-4">
                <div class="row">
                    <div class="col-md-4">

                        <img src="{{ video.thumbnail }}" class="img-fluid">
                        
                    </div>

                    <div class="col-md-8">

                        <h2 class="card-title mt-4">{{ video.title }}</h2>
                        <p class="card-text">Nilai similarity : {{ video.similarity }}</p>
                        <p class="card-text">tanggal publikasi : {{ video.published }}</p>
                        <div class="btn-group">
                            <a type="button" href="{{ video.url }}" class="btn btn-primary">View</a>
                        </div>
                        <small class="text-muted ml-4">{{ video.duration }} mins</small>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>